.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.lightblue {
  color: lightblue;
}

.purple {
  color: purple;
}
